
body { line-height: 17px; vertical-align: middle; }
body:before { display: block; content: ''; position: absolute; height: 2px; background: #999999; z-index: 20; width: 0%; left: 0; top: 0; -webkit-transition: width 500ms ease-out,opacity 500ms linear; -moz-transition: width 500ms ease-out,opacity 500ms linear; transition: width 500ms ease-out,opacity 500ms linear; }
.clsprgrsst:before { width: 93%; }
.clsprgrsed:before { width: 100%; -webkit-animation: fadeout 4s; -moz-animation: fadeout 4s; -ms-animation: fadeout 4s; -o-animation: fadeout 4s; animation: fadeout 4s; opacity: 0; }
select, input[type="text"], input[type="password"], textarea { width: 143px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; color: #333333; background-color: #EEEEEE; border: 1px solid #999999; }
button, input[type="button"], input[type="submit"], input[type="reset"] { height: 20px; BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #999999 1px solid; COLOR: #666666; BORDER-BOTTOM: #999999 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee; border-shadow-color: #FFFFFF;}
li { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; font-style: normal; color: #333333; }

.clspagetitle { color: #106bad; font-size: 28px; height: 36px; vertical-align: middle; }
div.clsgrncont { position: relative; float: left; margin-left: 7px; -webkit-animation: fadein 1s; -moz-animation: fadein 1s; -ms-animation: fadein 1s; -o-animation: fadein 1s; animation: fadein 1s; }
div.clserrcont { margin: 1px; background-color: #FFFFFF; border: 1px solid #333; border-radius: 3px; -webkit-animation: fadein 1s; -moz-animation: fadein 1s; -ms-animation: fadein 1s; -o-animation: fadein 1s; animation: fadein 1s; -webkit-box-shadow: 0px 0px 13px 1px #333333; -moz-box-shadow: 0px 0px 13px 1px #333333; box-shadow: 0px 0px 13px 1px #333333; }
div.clserrcont:after { position: absolute; left: 7px; bottom: 100%; height: 0px; width: 0px; content: ""; border: solid transparent; border-bottom-color: #333; border-width: 7px; pointer-events: none; }
td.clsimgerr div { background: url('/images/cross_16.png') no-repeat 0px 0px; background-size: 16px 16px; height: 16px; width: 16px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/cross.png', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/cross.png', sizingMethod='scale')"; }
td.clsimgok div { background: url('/images/tick_16.png') no-repeat 0px 0px; background-size: 16px 16px; height: 16px; width: 16px; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/tick.png', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='/images/tick.png', sizingMethod='scale')"; }
.clstxterr { color: #9f2a2a; }
.clstxtok { color: #2a9f85; }
div.clsgrdcontainer { overflow: hidden; border: 1px solid grey; }
div.clsgrdheader { overflow: hidden; width: 100%; }
div.clsgrdheader table { font-size:12px; FONT-FAMILY: Arial; text-decoration: underline; background-color:#f3f3f3; }
div.clsgrdheader table tr { height: 12px; vertical-align: middle; }
div.clsgrdheader th table tr td { white-space: nowrap; overflow: hidden; }
div.clsgrddata { overflow-y: scroll; width: 100%; }
div.clsgrddata table { font-size:12px; FONT-FAMILY: Arial; border-collapse:collapse; border:1px solid grey; }
div.clsgrddata table tr { vertical-align: middle; }
div.clsgrddata table tr:hover { background-color: #b3b3b3; cursor: url('/images/curnw.cur'), pointer; }
div.clswintitle { font-size:12px; FONT-FAMILY: Arial; text-decoration: underline; background-color:#f3f3f3; border-bottom: 1px solid grey; }
div.clswintitle:hover { cursor: url('/images/curnw.cur'), pointer; }
div.clswinpnl { -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1); -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1); box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1); }
th.clsgrdheaderasc span.clsgrdheaderimg { background-image: url('/images/up.png'); position: relative; float: left; }
th.clsgrdheaderdesc span.clsgrdheaderimg { background-image: url('/images/down.png'); position: relative; float: left; }
th span.clsgrdheadertxt { position: relative; float: left; margin-left: 3px; }
td.clsalertbtn, td.clsalerttxttd { text-align: center; font-size:12px; FONT-FAMILY: Arial; }
td.clsalertbtn div input[type="button"] { margin: 0px 3px 0px 3px; }
.clsselected td { background-color: lightblue; cursor: url('/images/curnw.cur'), pointer; }
div.clsgrdpagcont { overflow: hidden; border: 1px solid #999999; width: 100%; }
div.clsgrdpagcont table { font-size:12px; FONT-FAMILY: Arial; }
td.clspgfst { width: 35px; }
td.clspgpre { width: 27px; }
td.clspgnxt { width: 27px; }
td.clspglst { width: 27px; }
td.clspgfst div { width: 27px; height: 20px; }
td.clspgpre div { width: 20px; height: 20px; }
td.clspgnxt div { width: 20px; height: 20px; }
td.clspglst div { width: 20px; height: 20px; }
td.clspgfst div { background-image: url('/images/first.png'); background-repeat: no-repeat; height: 14px; width: 14px; margin-left: 7px; margin: 1px; background-position: 0px; }
td.clspgpre div { background-image: url('/images/previous.png'); background-repeat: no-repeat; height: 14px; width: 9px; margin: 1px; background-position: 0px; }
td.clspgnxt div { background-image: url('/images/next.png'); background-repeat: no-repeat; height: 14px; width: 9px; margin: 1px; background-position: 0px; }
td.clspglst div { background-image: url('/images/last.png'); background-repeat: no-repeat; height: 14px; width: 14px; margin: 1px; background-position: 0px; }
td.clspgfst.clspgfstdsbl div { background-position: -14px; }
td.clspgpre.clspgpredsbl div { background-position: -9px; }
td.clspgnxt.clspgnxtdsbl div { background-position: -9px; }
td.clspglst.clspglstdsbl div { background-position: -14px; }
td.clspgfst:hover, td.clspgpre:hover, td.clspgnxt:hover, td.clspglst:hover { cursor: pointer; }
td.clspgfst:hover.clspgfstdsbl, td.clspgpre:hover.clspgpredsbl, td.clspgnxt:hover.clspgnxtdsbl, td.clspglst:hover.clspglstdsbl { cursor: default; }
td.clsbtnleft { width: 3px; height: 21px; margin: 0; padding: 0; }
td.clsbtnmid { height: 21px; width: auto; margin: 0; padding: 0; }
td.clsbtnright { width: 3px; height: 21px; margin: 0; padding: 0; }
table.clspagingtbl td:hover table td.clsbtnleft { background-image: url('/images/tb-btn-sprite.png'); background-position: 0px 0px; background-repeat: no-repeat; }
table.clspagingtbl td:hover table td.clsbtnmid { background-image: url('/images/tb-btn-sprite.png'); background-position: 0px -42px; background-repeat: repeat-x; }
table.clspagingtbl td:hover table td.clsbtnright { background-image: url('/images/tb-btn-sprite.png'); background-position: 0px -21px; background-repeat: no-repeat; }
table.clspagingtbl td.clsbtndsbl:hover table td.clsbtnleft, table.clspagingtbl td.clsbtndsbl:hover table td.clsbtnmid, table.clspagingtbl td.clsbtndsbl:hover table td.clsbtnright { background: none; }
td.clscurrpage { text-align: right; width: 143px; }
td.clscurrpage input[type="text"] { width: 43px; text-align: right; }
td.clstotrecs label { margin-left: 23px; }
td.clspagoftxt { text-align: left; }
th.clshdrchkbox, td.clsdatachkbox { width: 13px; }
th.clshdrchkbox input[type="checkbox"] { float: left; }
td.clsdatachkbox input[type="checkbox"] { float: left; }
div.clsmask { background-image: url('/images/mask.png'); background-repeat: repeat; }
div.clsldimgelm { background-image: url('/images/loading.gif'); background-repeat: no-repeat; width: 16px; height: 16px; }
td.clsldtextelm { line-height: 16px; }
td.clsldfrleft { background-image: url('/images/loading-sprite-backgrd.png'); background-position: 0px 0px; background-repeat: no-repeat; height: 30px; width: 4px; margin: 0; padding: 0; }
td.clsldfrmid { background-image: url('/images/loading-sprite-backgrd.png'); background-position: 0px -60px; background-repeat: repeat-x; height: 30px; width: auto; margin: 0; padding: 0; vertical-align: middle; }
td.clsldfrright { background-image: url('/images/loading-sprite-backgrd.png'); background-position: 0px -30px; background-repeat: no-repeat; height: 30px; width: 4px; margin: 0; padding: 0; }
ul#ulcontmenu { display: block; list-style: none; margin: 0 0 0 7px; padding: 0; }
ul#ulcontmenu ul { display: block; list-style: none; margin: 0; padding: 0; }
ul div#divsettingcont { float: right; display: block; position: relative; background-color: #FFFFFF; }
ul div#divsettingcont:hover { background-color: #b3b3b3; }
ul#ulcontmenu li { display: block; clear: left; float: left; position: relative; }
ul#ulcontmenu div#divsettingnav { display: none; right: 0; float: right; position: absolute; background-color: #b3b3b3; top: 32px; opacity: 1; }
ul#ulcontmenu:hover div#divsettingnav { cursor: pointer; display: block; -webkit-box-shadow: 0px 6px 13px 1px #333333; -moz-box-shadow: 0px 6px 13px 1px #333333; box-shadow: 0px 6px 13px 1px #333333; -webkit-animation: fadein 2s; -moz-animation: fadein 2s; -ms-animation: fadein 2s; -o-animation: fadein 2s; animation: fadein 2s; }
ul#ulcontmenu ul#ulmenucont { clear: left; float: left; position: relative; }
ul#ulcontmenu ul li { display: block; clear: left; float: left; position: relative; }
ul#ulcontmenu ul#ulmenucont li { clear: left; float: left; position: relative; height: 32px; width: 100%; line-height: 32px; white-space: nowrap; }
ul#ulmenucont li div { width: 100%; height: 100%; -webkit-transition: all 800ms ease; -moz-transition: all 800ms ease; transition: all 800ms ease; -ms-transform-origin: 50% 0%; -webkit-transform-origin: 50% 0%; -moz-transform-origin: 50% 0%; transform-origin: 50% 0%; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; transform-style: preserve-3d; }
ul#ulmenucont li:hover div { -webkit-transform: rotateX( 0deg ); -moz-transform: rotateX( 0deg ); transform: rotateX( 0deg ); background-color: #333333; color: #FFFFFF; }
ul#ulmenucont li div span { margin-left: 23px; margin-right: 23px; position: relative; float: left; }
ul#ulcontmenu ul#ulmenucont li ul { clear: left; float: left; position: relative; display: block; }

@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Firefox */
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Safari and Chrome */
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Internet Explorer */
@-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Opera */

@keyframes fadeout { from { opacity: 1; } to { opacity: 0; } }
@-moz-keyframes fadeout { from { opacity: 1; } to { opacity: 0; } } /* Firefox */
@-webkit-keyframes fadeout { from { opacity: 1; } to { opacity: 0; } } /* Safari and Chrome */
@-ms-keyframes fadeout { from { opacity: 1; } to { opacity: 0; } } /* Internet Explorer */
@-o-keyframes fadeout { from { opacity: 1; } to { opacity: 0; } } /* Opera */
